/*FONT CSS*/
.open-sans{
}



/*NAVBAR CSS*/
.navbar {
	margin-bottom: 0px;
}
.navbar-default {
	background-color: #E8E7E2;
}
.navbar-default .navbar-brand {
    color: #000000;
}
.push-left {
	margin-right: 100px;
}
.pad-right {
	padding-right: 40px;
}
.social > li {
	margin-right: 5px!important;
	margin-left: 5px!important;
}
.social > li > a {
	padding: 0;

}
.navbar-nav > li > a {
	padding-right: 40px;
	padding-left: 40px;
	font-color: green;

}
.fa {
	color: gray;
}
.push-left {
	margin-right: 100px;
}

.navbar.transp {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar.transp li { color: #000 } 

/*HOMEPAGE CSS*/
body{
    background-color: #E8E7E2; 
}
.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.image-bg-fixed-height {
	background: url('../img/jane.png') no-repeat center center scroll;
	height: 1000px;
}
.page1-title {
	padding-top: 70px;
	color: #EEEEEE;
}
.circle1 {
	color: white;
	display: block;
	width: 550px;
	height: 550px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ff9031;
    text-align: center;
    margin-top: -140px;
    margin-left: -50px;
}

.circle1 > p {
	padding-top: 190px;
	padding-left: 130px;
	text-align: left;
	font-size: 54px;
	line-height: 70px;
}

.img-center {
	margin: 0 auto;
}


p.page1-text {
	text-align: right;
	color: #CC0000;
	font-size: 14px;
	line-height: 8px;
}

.container.page1-container {
	margin-right: 25px;
	margin-top: 30px;
}

/*WORK PAGE CSS*/
.text-cent {
	text-align: center;
}
.circle2 {
	color: white;
	display: inline-block;
	width: 550px;
	height: 550px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ff9031;
    margin-top: -400px;
    
}
.page2-title {
	font-size: 44px;
	margin-right: 600px;
	margin-top: -125px;

}
.grow {
    display: inline-block;
    overflow: hidden;
}
.grow img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    vertical-align: middle;
}
.grow img:hover {
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
}
.buffer {
    margin-bottom: 15px;
    margin-top: 15px;
}
.marg-top {
	margin-top: 80px;
}
.btn.btn-primary.text {
	font-size: 18px;
    background-color: transparent;
    color: #337ab7;
    border-color: transparent;
}
.pad-bot {
    padding-bottom: 50px;
}

/*ABOUT PAGE CSS*/
section.page3-top{
	background-color: #E8E7E2;
}
h1.page3-title{
	font-size: 44px;
}
span.circle3 {
	display: inline-block;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-bottom: -100px; 
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #E8E7E2;
}
span.circle3 > h1 {
	padding-top: 200px;
}
section.page3-bot {
	background-color: #ff9031;
	padding-top: 125px;
	padding-bottom: 50px;
}
.page3-text{
	font-size: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
    -moz-border-radius: 5%;
    border-radius: 5%;
    background-color: #E8E7E2;
}
.bold {
	font-weight: bold;
}
.bubble-text > p {
	color: black;
	font-size: 14px;
}
.bubble-text > h2 {
	color: black;
	font-size: 18px;
}
.back-circ {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	height: 300px;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.bubble1 {
	background-color:#CC0000;
}
.bubble2 {
	background-color: #7D7E7E;
}
.bubble3 {
	background-color: #E8E7E2;
}
.bubble4 {
	background-color: #FFB94F;
}

/*FEEDBACK PAGE CSS*/
.circle4 {
	margin-top: 75px;
	color: black;
	display: inline-block;
	width: 550px;
	height: 550px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ff9031;
}

.circle4 > h1 {
	margin: 0;
	font-size: 44px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
div.pad-top{
	padding-top: 100px;
}

.vid-title {
	text-align: left;
}
.cent-marg{
	margin-left: auto;
	margin-right: auto;
}
.page4-text{
	font-size: 16px;
}

/*Video Pages*/
.vid{
	padding-top: 50px;
}
iframe, .vid-width{
	width: 1080px;
	height: 607px;
}
.bold-titles > div > div > div > h3{
	font-weight: bold;
}



/* Extra large Devices, Wide Screens */
@media only screen and (max-width : 1600px) {
	.image-bg-fixed-height {
		height: 750px;
	}
	.circle1 {
		width: 450px;
		height: 450px;
	}
	.circle1 {
		
	    margin-top: -140px;
	    margin-left: -50px;
	}

	.circle1 > p {
		padding-top: 160px;
		padding-left: 100px;
		font-size: 44px;
		line-height: 58px;
	}
	.back-circ {
		width: 225px;
		height: 225px;
	}
	.bubble-text > p {
		font-size: 12px;
	}
	.bubble-text > h2 {
		font-size: 16px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.navbar-nav > li > a {
		padding-right: 30px;
		padding-left: 30px;
	}
	.push-left {
		margin-right: 75px;
	}
	.back-circ {
		width: 185px;
		height: 185px;
	}
	.bubble-text > p {
		font-size: 12px;
	}
	.circle.circle4 {
		width: 450px;
		height: 450px;
	}
	iframe, .vid-width{
		width: 690px;
		height: 388px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.navbar-nav > li > a {
		padding-right: 20px;
		padding-left: 20px;
	}
	.push-left {
		margin-right: 50px;
	}
	.page1-title {
		padding-top: 120px;
	}
	.circle {
	width: 400px;
	height: 400px;
	}
	.circle1 {
	    margin-top: -140px;
	    margin-left: -50px;
	}

	.circle1 > p {
		padding-top: 160px;
		padding-left: 100px;
		font-size: 36px;
		line-height: 52px;
	}
	.circle2 {
    	margin-top: -300px;
	}
	.page2-title {
		margin-right: 500px;
		margin-top: -100px;
	}
	.marg-top {
		margin-top: 60px;
	}
	.back-circ {
		width: 300px;
		height: 300px;
	}
	.bubble-text > p {
		font-size: 14px;
	}
	.bubble-text > h2 {
		font-size: 18px;
	}
	.pad-bot.bubble {
	    padding-bottom: 0px;
	}
	.bubble-text {
		margin-bottom: 20px;
	}
	.circle.circle4{
		width: 375px;
		height: 375px;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.social  > li > a {
		padding-right: 5px;
		padding-left: 5px;
	}
	.pad-right {
		padding-right: 0px;
	}
	.page1-title {
		padding-top: 105px;
	}
	.break:after {
		content:"\a";
    	white-space: pre;
	}
	.circle {
		width: 250px;
		height: 250px;
	}
	.circle1 {
	    margin-top: -70px;
	    margin-left: -50px;
	}
	.circle1 > p {
		padding-top: 90px;
		padding-left: 80px;
		font-size: 20px;
		line-height: 36px;
	}
	.image-bg-fixed-height {
		height: 600px;
	}
	.circle2 {
    	margin-top: -200px;
	}
	.page2-title {
		margin-right: 400px;
		padding-left: 30px;
		margin-top: -25px;
	}
	.marg-top {
		margin-top: 0px;
	}
	span.circle3 {
		display: inline-block;
		width: 375px;
		height: 375px;
	}
	.circle.circle4 {
		width: 350px;
		height: 350px;
	}
	div.pad-top{
		padding-top: 20px;
	}
	.circle4 {
	margin-top: 0px;
	}
	.vid{
		padding-top: 20px;
	}
	iframe, .vid-width{
		width: 432px;
		height: 243px;
	}
	p.page1-text {
		font-size: 12px;
	}
	.col-md-4.bubble-text.text-center.center-block.back-circ.bubble1 {
		margin-top: 20px;
	}
	.col-xs-6 > h3 {
		font-size: 20px;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	iframe, .vid-width{
		width: 320px;
		height: 180px;
	}
}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}